<?xml version="1.0" encoding="UTF-8"?>


<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd    http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd    http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd    http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">



   <!-- 서블릿 컨테이너의 디폴트 서블릿 위임 핸등러 -->
   <!-- Handler Mapping에 해당하는 URL이 없으면 default-servlet으로 처리하겠다는 의미 -->
   <mvc:annotation-driven />
   <mvc:default-servlet-handler />

        <!-- 빈 설정을 어노테이션 기반으로 하겠다 설정태그 -->
        <context:annotation-config />
        
        <!-- 스캐닝 할 기준 패키지 -->
        <context:component-scan base-package="com.jogiyo.deliveryFood"/>

	
	
	<!-- JSTL view -->
	
	<!--  viewResolver 라는 이름의 bean은 실제로 InternalResourceViewResolver 클래스 -->
	<bean id='viewResolver' class='org.springframework.web.servlet.view.InternalResourceViewResolver'> 
	
		<!-- viewClass로는 JSTLView를 사용 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> 
		<!-- prefix( 경로의 앞 부분)는 /WEB-INF/views/   -->
		<property name="prefix" value="/WEB-INF/views" />
		<!-- suffix( 경로의 뒷 부분)은 .jsp 을 의미 -->
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>
	
</beans>